#border {
-fx-padding: 25;
-fx-background-image: url("/images/bgr_tile.jpg");
-fx-background-repeat: repeat;
}

.score {
	-fx-background-color: rgb(255,255,255,0.2);
}
#p1 {
	-fx-background-image: url("/images/player1.png");
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
}
#p2 {
	-fx-background-image: url("/images/player2.png");
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
}
#Player1 {
	-fx-font: 25px Tahoma;
	-fx-text-fill: orange;
}
#Player2 {
	-fx-font: 25px Tahoma;
	-fx-text-fill: violet;
}